.App{
  text-align: center;
  background-color:white;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input{
  accent-color: red;
}
.input:hover{
  accent-color: rgb(221, 230, 62);
}
.noinput:hover{
  color: aqua;
  
  z-index: 999;
}
